.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: aliceblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.applause-button {
  background: none;
  border: none;
  display: flex;
  background-color: aliceblue;
  margin: 20px;
}

.applause-button:focus {
  outline: none;
}

.applause-button img {
  margin: 20px;
}

.after-button {
  margin: auto 0px auto 0px;
  font-size: 20px;
  width: 80px;
}

.clickable {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
